<style>
  .body {
    max-width: 640px;
    margin: auto;
    min-height: 100%;
    background-color: #f4f4f4;
    position: relative;
    background-size: 100% 100%;
  }

  .picNav{width: 100%; margin:0px auto;}
  .picNav li{}
  .picNav li div{ text-decoration:none; width:23%;  margin-left:2%; line-height: 60px;  text-align: center; float: left;background-size:auto 100%; background:url(<%= image_url 'index/bottom-2.png' %>) no-repeat center; background-size: contain; color: #fff; font-weight: bolder;}
</style>

<div class="body" style=" background-image:url('<%= image_url 'home.jpg' %>');background-position: 50% 50%; background-size: cover;margin-right: 0;" >

 <script type="application/x-javascript">
  var g_width = $(window).width();
  var g_height = $(window).height();

  $('img').attr('width',g_width);
  $('img').attr('height',g_height);
</script>
</div>

<div style="position:absolute;bottom:15px;right:20px">
  <ul style="position:absolute;bottom:40px;">
    <li>
      <img  id="img11"  style="height:13px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:140px; " src="<%= image_url 'index/11.png' %>"/>
      <img  id="img12" style="height:10px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:127px; " src="<%= image_url 'index/12.png' %>"/>
      <img  id="img13"  style="height:9px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:114px;" src="<%= image_url 'index/13.png' %>"/>
      <img  id="img14" style="height:9px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:101px;" src="<%= image_url 'index/14.png' %>"/>
      <img  id="img15"  style="height:8px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:88px; " src="<%= image_url 'index/15.png' %>"/>
      <img  id="img16" style="height:8px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:75px; " src="<%= image_url 'index/16.png' %>"/>
      <img  id="img17"  style="height:10px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:62px; " src="<%= image_url 'index/17.png' %>"/>
      <img  id="img18" style="height:10px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:49px; " src="<%= image_url 'index/18.png' %>"/>
      <img  id="img19"  style="height:11px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:36px; " src="<%= image_url 'index/19.png' %>"/>
      <img  id="img20" style="height:12px;width:17px;display:none;margin:0px 0px 0px -95px;position:absolute;bottom:23px; " src="<%= image_url 'index/20.png' %>"/>
    </li>
    <li>
      <img  id="img6_6"  style="height:5px;width:15px;display:none;margin:0px 0px 0px -70px;position:absolute;bottom:155px;" src="<%= image_url 'index/kuohao1.png' %>"/>
      <img  id="img6" style="height:23px;width:25px;display:none;margin:0px 0px 0px -74px;position:absolute;bottom:127px; " src="<%= image_url 'index/6.png' %>"/>
      <img  id="img7"  style="height:19px;width:25px;display:none;margin:0px 0px 0px -74px;position:absolute;bottom:103px; " src="<%= image_url 'index/7.png' %>"/>
      <img  id="img8" style="height:21px;width:25px;display:none;margin:0px 0px 0px -74px;position:absolute;bottom:76px;" src="<%= image_url 'index/8.png' %>"/>
      <img  id="img9"  style="height:19px;width:25px;display:none;margin:0px 0px 0px -74px;position:absolute;bottom:52px;" src="<%= image_url 'index/9.png' %>"/>
      <img  id="img10" style="height:22px;width:25px;display:none;margin:0px 0px 0px -74px;position:absolute;bottom:25px;" src="<%= image_url 'index/10.png' %>"/>
      <img  id="img10_10"  style="height:5px;width:15px;display:none;margin:0px 0px 0px -70px;position:absolute;bottom:20px; " src="<%= image_url 'index/kuohao2.png' %>"/>
    </li>
    <li>
      <img  id="img1_1"  style="height:5px;width:15px;display:none;margin:0px 0px 0px -35px;position:absolute;bottom:155px;" src="<%= image_url 'index/kuohao1.png' %>"/>
      <img  id="img1"  style="height:23px;width:25px;display:none;margin:0px 0px 0px -40px;position:absolute;bottom:127px;" src="<%= image_url 'index/1.png' %>"/>
      <img  id="img2" style="height:19px;width:25px;display:none;margin:0px 0px 0px -40px;position:absolute;bottom:103px; " src="<%= image_url 'index/2.png' %>"/>
      <img  id="img3"  style="height:21px;width:25px;display:none;margin:0px 0px 0px -40px;position:absolute;bottom:76px; " src="<%= image_url 'index/3.png' %>"/>
      <img  id="img4" style="height:19px;width:25px;display:none;margin:0px 0px 0px -40px;position:absolute;bottom:52px;" src="<%= image_url 'index/4.png' %>"/>
      <img  id="img5"  style="height:22px;width:25px;display:none;margin:0px 0px 0px -40px;position:absolute;bottom:25px; " src="<%= image_url 'index/5.png' %>"/>
      <img  id="img5_5"  style="height:5px;width:15px;display:none;margin:0px 0px 0px -35px;position:absolute;bottom:20px; " src="<%= image_url 'index/kuohao2.png' %>"/>
    </li>
  </ul>

  <script language=javascript>
    var  array_name = ['img1_1','img1','img2','img3','img4','img5','img5_5','img6_6','img6','img7','img8','img9','img10','img10_10','img11','img12','img13','img14','img15','img16','img17','img18','img19','img20'];
    var index = 0;
    var int=self.setInterval("change_back()",300)
    var int2=self.setInterval("change_index()",3000)
    function change_back()
    {
      if(index >= array_name.length)
      {
        window.clearInterval(int);
      }else{
        var id = array_name[index];
        document.getElementById(id).style.display="block"; 
        index++;
      }

    }

    function change_index(){
      if(index >= array_name.length)
      {
        index = 0;
        for(var a=0;a<array_name.length;a++)
        {
          id = array_name[a];
        }
      }
    }

    function turn1(){
      window.location.href='/ggms/index'
    }

    function turn2(){
      window.location.href='/wzsj/index'
    }

    function turn3(){
      window.location.href='/wtxj/index'
    }

    function turn4(){
      window.location.href='/wydy/index'
    }
  </script>
</div>
<div style="position: relative;">
  <table style="position:absolute;bottom:15px;">
    <tr>
      <td onClick="turn1()" ><div style="height:46px;width:46px;margin-left:25%; background:url(<%= image_url 'index/bottom-1.png' %>);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');-moz-background-size:100% 100%;background-size:100% 100%;background-repeat: no-repeat;"></div></td>
      <td onClick="turn2()" ><div style="height:46px;width:46px;margin-left:25%;  background:url(<%= image_url 'index/bottom-2.png' %>);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');-moz-background-size:100% 100%;background-size:100% 100%;background-repeat: no-repeat;" ></div></td>
      <td onClick="turn3()" ><div style="height:46px;width:46px;margin-left:25%; background:url(<%= image_url 'index/bottom-3.png' %>);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');-moz-background-size:100% 100%;background-size:100% 100%;background-repeat: no-repeat;"></div></td>
      <td onClick="turn4()" ><div style="height:46px;width:46px;margin-left:25%; background:url(<%= image_url 'index/bottom-4.png' %>);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');-moz-background-size:100% 100%;background-size:100% 100%;background-repeat: no-repeat;"></div></td>
    </tr>
  </table>
</div>
