<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,height=device-height,user-scalable=no"/>
  <meta charset="utf-8">
  <title>天津盘山风景名胜区</title>
  <%= stylesheet_link_tag 'css5', media: 'all' %>
</head>

<body>
  <header>
    <h4 class="title">
      <span class="back" onClick="history.back();">上一页</span>
      无终胜境
      <span class="home"  onclick="turnHome()">首页</span>
    </h4>
  </header>
  <div class="wuzhongshengjing">
    <a class="loupai" href="3_1.html"><img src="<%= image_url 'weizhi.png' %>" alt="牌楼">牌楼</a>
    <a class="xinshanmen" href="3_2.html"><img src="<%= image_url 'weizhi.png' %>" alt="新山门">新山门</a>
    <a class="sanpanmuyu" href="3_3.html"><img src="<%= image_url 'weizhi.png' %>" alt="三盘暮雨"></a>
    <a class="rusheng" href="3_4.html"><img src="<%= image_url 'weizhi.png' %>" alt="入胜"></a>
    <a class="shuxia" href="3_5.html"><img src="<%= image_url 'weizhi.png' %>" alt="漱峡"></a>
    <a class="feijinjian" href="3_6.html"><img src="<%= image_url 'weizhi.png' %>" alt="飞帛涧"></a>
    <a class="yunlouliying" href="3_7.html"><img src="<%= image_url 'weizhi.png' %>" alt="云楼梨影"></a>
    <a class="guayuefeng" href="3_8.html"><img src="<%= image_url 'weizhi.png' %>" alt="挂月峰"></a>
  </div>

  <%= render 'pic_nav_wzsj' %>
  <script >
    function  turnHome(){
      window.location.href="/"
    }
  </script>
</body>
</html>