<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,height=device-height,user-scalable=no"/>
  <meta charset="utf-8">
  <title>天津盘山风景名胜区</title>
  <%= stylesheet_link_tag 'css5', media: 'all' %>
</head>

<body>
  <header>
    <h4 class="title">
      <span class="back" onClick="history.back();">上一页</span>
      无终胜境
      <span class="home"  onclick="turnHome()">首页</span>
    </h4>
  </header>
  <div class="wuzhongshengjingw">
  <div class="wuzhongshengjing">
    <a class="loupai" href="/wzsj/s1"><img src="<%= image_url 'weizhi.png' %>" alt="牌楼">牌楼</a>
    <a class="xinshanmen" href="/wzsj/s2"><img src="<%= image_url 'weizhi.png' %>" alt="新山门">新山门</a>
    <a class="sanpanmuyu" href="/wzsj/s3"><img src="<%= image_url 'weizhi.png' %>" alt="三盘暮雨"></a>
    <a class="rusheng" href="/wzsj/s4"><img src="<%= image_url 'weizhi.png' %>" alt="入胜"></a>
    <a class="shuxia" href="/wzsj/s5"><img src="<%= image_url 'weizhi.png' %>" alt="漱峡"></a>
    <a class="feijinjian" href="/wzsj/s6"><img src="<%= image_url 'weizhi.png' %>" alt="飞帛涧"></a>
    <a class="yunlouliying" href="/wzsj/s7"><img src="<%= image_url 'weizhi.png' %>" alt="云楼梨影"></a>
    <a class="guayuefeng" href="/wzsj/s8"><img src="<%= image_url 'weizhi.png' %>" alt="挂月峰"></a>
  </div>
  </div>
  <%= render 'pic_nav_wzsj' %>
  <script >
    function  turnHome(){
      window.location.href="/"
    }
    
    var appVersion = window.navigator.appVersion;   //客户端信息  
var isSystem=appVersion.indexOf("Android")>-1 || appVersion.indexOf("android")>-1?"android":false;  
if(isSystem!="android"){  
    isSystem=appVersion.indexOf("iPhone")>-1 || appVersion.indexOf("iPod")>-1?"iphone":false;
}

switch (isSystem){  
    case "android":
        var windowWidth=window.screen.width;    //屏幕分辨率
        var devicePixelRatio = window.devicePixelRatio; //屏幕分辨率与像素比
        var targetDensitydpi = 640 / windowWidth * devicePixelRatio * 160;
        document.writeln('<meta name="viewport" content="width=device-width,target-densitydpi='+targetDensitydpi+',user-scalable=no">');
        break;
    case "iphone":
        var windowWidth=window.screen.width;    //屏幕分辨率
        var targetDensitydpi=windowWidth/640;
        document.writeln('<meta name="viewport" content="width=device-width,initial-scale='+targetDensitydpi+',minimum-scale='+targetDensitydpi+', maximum-scale='+targetDensitydpi+',user-scalable=no" />');
        document.writeln('<meta name="format-detection" content="telephone=no">');
        document.writeln('<meta name="apple-mobile-web-app-capable" content="no" />');
        document.writeln('<meta name="apple-mobile-web-app-status-bar-style" content="blank" />');
        break;
}
  </script>
</body>
</html>
